@tailwind base;
@tailwind components;
@tailwind utilities;


body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  .root-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; 
  }
  
  .title {
    margin: 0; 
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
  }
  
  .home-container {
    text-align: center;
    padding: 20px;
  }

  .home-title {
    margin-bottom: 20px;
  }

  .home-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }